  <div class="modal-content mt-5">
    <div class="modal-header bg-info">
      <h3 class="modal-title text-white">Alta de asegurado</h3>
    </div>
    <div class="modal-body">
      <app-personal-data-form [ngStyle]="{'display':currentForm === 'personal-data-form' ? 'inline' : 'none' }" (nextEvent)="receiveDataFromPersonalData($event)"></app-personal-data-form>
      <app-vehicule-data-form [ngStyle]="{'display':currentForm === 'vehicule-data-form' ? 'inline' : 'none' }" style="display: none;" (nextEvent)="receiveDataFromVehiculeData($event)"></app-vehicule-data-form>
      <app-coverages-form [ngStyle]="{'display':currentForm === 'coverage-data-form' ? 'inline' : 'none' }" (nextEvent)="receiveDataFromCoverageData($event)"></app-coverages-form>
    </div>
    <div class="modal-footer">
      <button type="button"  class="btn btn-outline-success mr-auto" [ngStyle]="{'display':currentForm === 'personal-data-form' ? 'none' : 'inline' }" (click)="backForm()">Volver</button>
      <div class="spinner-border text-primary" role="status" *ngIf="loading">
        <span class="visually-hidden"></span>
      </div>
      <button type="button" class="btn btn-primary" *ngIf="readyToPost" (click)="postForm()">Registrar Asegurado</button>
    </div>
  </div>