<div class="row">
  <div class="col">
      <h4>Elija la cobertura</h4>
      <hr>
  </div>
</div>
<div class="card mt-4" *ngFor="let coverage of coverages">
    <h5 class="card-header">{{coverage.titulo}}</h5>
    <div class="card-body">
      <h5 class="card-title">Precio: {{coverage.costo | currency}}</h5>
      <h5 class="card-title">Franquicia: {{coverage.franquicia | currency}}</h5>
      <h5 class="card-title" *ngIf="coverage.granizo" >Tiene cobertura contra granizo</h5>
      <hr>
      <p class="card-text">Descripción: {{coverage.descripcion | cleanText}}</p>
      <p class="card-text fw-bolder">Producto: {{coverage.producto}}</p>
      <p class="card-text fw-bolder">Puntaje: {{coverage.puntaje}}/5</p>
      <p class="card-text fw-bolder">Resumen: {{coverage.texto}}/5</p>
      <button class="btn btn-primary" (click)="saveCoverage(coverage)">Elegir cobertura</button>
    </div>
</div>
<div *ngIf="showSelectedCoverage" class="text-center mt-3">
  <p>Cobertura actual elegida: {{coverageSelected.texto}}</p>
</div>